<div
  class="container"
  *ngIf="sharedservice._weatherData | async as weatherData"
>
  <!-- <button class="toggle-symbol" (click)="changeSymbol()">{{currentSymbol}}</button> -->
  <!-- <fa-icon [icon]="faSearch" size="lg" (click)="emitData()"></fa-icon> -->
  <div class="header-row">
    <h1>{{ weatherData.city }}</h1>
    <img class="img-main" [src]="weatherData.iconUrl" alt="weatherIcon" />
    <h3>{{ weatherData.temp | temperatureFilter }}</h3>
    <h5>{{ weatherData.day }}</h5>
  </div>
  <div class="details-row">
    <div class="left">
      <div class="temp-det">
        <img src="../../../assets/humidity.svg" alt="" />
        <span> {{ weatherData.humidity }}</span>
      </div>
      <div class="temp-det">
        <img src="../../../assets/barometer.svg" alt="" />
        <span> {{ weatherData.pressure }}</span>
      </div>
    </div>
    <div class="right">
      <div class="temp-det">
        <img src="../../../assets/thermometer-warmer.svg" alt="" />
        <span> {{ weatherData.temp_max | temperatureFilter }}</span>
      </div>
      <div class="temp-det">
        <img src="../../../assets/thermometer-colder.svg" alt="" />
        <span> {{ weatherData.temp_min | temperatureFilter }}</span>
      </div>
    </div>
  </div>

  <div class="forecast-row">
    <div class="tile" *ngFor="let item of weatherData.forecast">
      <h5>{{ item.day.split(" ")[1] }}</h5>
      <img [src]="item.iconUrl" alt="forecase img" />

      <h5>{{ item.temp_max | temperatureFilter }}</h5>
    </div>
  </div>
</div>
